.formkit-outer{
    margin-block-end: 20px;
}


.formkit-inner {
    display: flex;
    box-shadow: 0 4px 0 -3px var(--clr-primary);

    &:focus-within {
        box-shadow: 0 4px 0 -2px var(--clr-primary);
    }
}

.formkit-wrapper:has(+ .formkit-messages) .formkit-inner {
    box-shadow: 0 4px 0 -3px var(--danger)
}

input.formkit-input {
    background-color: transparent;
    border: 0;
    width: 100%;
    line-height: 2;

    &:focus {
        outline: 0;
    }
}

.formkit-input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: .625rem 2.8125rem;
    border-radius: 50px;
    border: 0;
    background-color: var(--clr-primary);
    color: var(--clr-white-400);
    text-transform: uppercase;
    box-shadow: inset 0 0 4px -1px rgb(66 68 90 / 100%);
    cursor: pointer;
    will-change: background;
    transition: background 0.5s ease;

    &:focus, &:hover {
        background-color: var(--clr-accent);
    }
}

.formkit-prefix-icon {
    display: flex;
    align-items: center;
    padding: .5rem;

    svg {
        min-height: 20px;
    }
}

.formkit-label {
    color: var(--clr-primary);
    font-size: var(--font-size-sm);
}

.formkit-messages {
    padding: 0;
    list-style-type: none;
    margin-top: 5px;

    li {
        font-size: var(--font-size-sm);
        color: var(--danger);

        &::first-letter {
            text-transform: capitalize;
        }
    }
}

.formkit-form > .formkit-messages {
    text-align: center;
}